@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import './helpers';

body {
  margin: auto;
  background-color: $dark-dollar;
  opacity: 1;
  background-image: radial-gradient($light-dollar 1px, $dark-dollar 1px);
  background-size: 1rem 1rem;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100vh;
  box-sizing: border-box;
}

img {
  max-width: 1rem;
}
.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;

  h1 {
    font-family: 'Lilita One', cursive;
    color: #039723;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0 black, 0.125rem -0.125rem 0 black,
      -0.125rem 0.125rem 0 black, -0.125rem -0.125rem 0 black,
      0.125rem 0px 0 black, 0px 0.125rem 0 black, -0.125rem 0px 0 black,
      0px -0.125rem 0 black, 8px 3px 5px rgba(32, 43, 32, 0.11);
    position: relative;
  }
  h4 {
    color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

.score {
  width: 100%;
  &__header,
  &__updated {
    border: $border-table;
  }
  &__data {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-left: $border-table;
    > div {
      border-right: $border-table;
    }
  }
  img {
    max-width: 1rem;
  }
}

.container {
  width: 100%;
}

.game-info {
  width: 10%;
  background: green;
}

.positions__table {
  width: 100%;
  border-spacing: $border;
  background-color: $normal-grey;
  tbody {
    tr {
      td {
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
  }
  img {
    border: 1px solid black;
  }
}

@media (min-width: 768px) {
  .logo {
    h1 {
      font-size: 4rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  .container {
    max-width: 34rem;
  }
}
