@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

$darkGreen: #202b20;
$dollarGreen: #455045;

body {
  margin: auto;
  background-color: $darkGreen;
  opacity: 1;
  background-image: radial-gradient($dollarGreen 1px, $darkGreen 1px);
  background-size: 1rem 1rem;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;

  h1 {
    font-family: 'Lilita One', cursive;
    color: #039723;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0 black, 0.125rem -0.125rem 0 black,
      -0.125rem 0.125rem 0 black, -0.125rem -0.125rem 0 black,
      0.125rem 0px 0 black, 0px 0.125rem 0 black, -0.125rem 0px 0 black,
      0px -0.125rem 0 black, 8px 3px 5px rgba(32, 43, 32, 0.11);
    position: relative;
  }
  h4 {
    color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .score {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    &__cotizacion {
      font-size: 0.7rem;
      text-align: center;
      background: #85a094;
      margin-top: 0.5rem;
      table {
        width: 100%;
        text-align: center;
        border-spacing: 1.5px;
        table-layout: fixed;
      }
      &--header {
        width: 100%;
        background: #002d29;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.125rem;
          span {
            text-align: center;
            color: #fff;
            font-size: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
            font-weight: 700;
          }
          img {
            margin: 0 0.25rem;
            height: 1rem;
            max-width: 100%;
          }
        }
      }
      &--time {
        width: 15%;
        background: #155219;
        color: #fff;
        font-size: 1.1em;
        font-weight: 700;
        text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
        &.active {
          background: #820300;
        }
        &.final {
          background: #312d2c;
        }
        img {
          width: 17px;
        }
      }
      &--operation {
        width: 30%;
        background: #e5e5e5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        line-height: 1.1em;
        font-size: 0.75rem;
        font-weight: 700;
        img {
          width: 1rem;
        }
      }
      &--result {
        width: 7%;
        background: #fff;
        font-size: 1.5em;
        font-weight: 700;
      }
      &--lastUpdated {
        font-size: 0.75rem;
        font-weight: 300;
        background: #fff;
        border-spacing: 0;
        text-align: center;
        -webkit-border-horizontal-spacing: 0.125rem;
        -webkit-border-vertical-spacing: 0.125rem;
        td {
          padding: 0.125rem;
        }
        span {
          color: #b34;
          font-weight: 700;
        }
      }
    }
  }
}

.game-info {
  width: 10%;
  background: green;
}

.titulotabla {
  text-align: center;
  font-size: 1em;
  background: #00612d;
  color: #fff;
  border: 0.0625rem solid #000;
  width: 100%;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}
.tablesorter1 {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  background: #797979;
  tr {
    &:nth-child(2n) {
      background: #e5e5e5;
    }
    &:nth-child(2n + 1) {
      background: #d5d5d5;
    }
    &:first-of-type {
      background: #90ee90;
    }
    td {
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
      &.cp1 {
        background: green;
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .logo {
    h1 {
      font-size: 4rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  .container {
    max-width: 45rem;
  }
}
